.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.art_board_container {
  background: white;
  height: 100vh;
}

.browser_bar {
  background: #868686;
  height: 3vh;
}

.art_board {
  height: calc(100vh - 3vh);
}

.controller_container {
  background: #2c2e32;
  color: white;
  padding: 2rem;
}

.block {
  cursor: pointer;
}
